# Python
__pycache__/
*.py[cod]
.venv/

# Herramientas
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Entornos y secretos
.env
.env.*

# Sistema operativo
.DS_Store

# Editor
.idea/
.vscode/

# Build
dist/
build/
*.egg-info/
